<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Update Me!</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="/css/weatherman.css">
  </head>
  <body>
    <div class="header">
      <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a href="/" class="header-title pure-menu-heading">Site Title</a>

        <ul>
          <li><a href="https://www.github.com/mahinshaw/weatherman" target="_blank">Github</a>
        </ul>
      </div>
    </div>
  </body>
</html>
