<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Update Me!</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="/css/weatherman.css">
  </head>
  <body>

    <div class="header">
      <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a href="/" class="pure-menu-heading">Weatherman</a>
        <ul>
          <li><a href="https://www.github.com/mahinshaw/weatherman" target="_blank">Github</a>
        </ul>
      </div>
    </div>

    <div class="content-wrapper">
      <div class="locations"></div>
      <div class="add-location">
        <form class="add-location-form pure-form" action="/new" method="post">
          <fieldset>
            <legend>Add a location</legend>
            <input type="text" placeholder="location" name="location">
            <button type="submit" class="pure-button pure-button-primary">Add</button>
          </fieldset>
        </form>
      </div>
    </div>

  </body>
</html>
